.PayingForParkingBody{
    margin: 100px 0;
    position: relative;
    width: 100%;
    height: 400px;
    padding: 2% 0;
    background-color: #1F2B80;
    color: white;
}

.AppStep{
    height: 40px;
    display: inline-block;
}

.PayingForParkingLeftSide{
    display: inline-block;
    margin-left: 10%;
}
.PayingForParkingRightSide{
    top: -100px;
    position: absolute;
    display: inline-block;
}

.ParkingPayDesktop{
    margin-left:60%;
    display: inline-block;
    height: 600px;
}

.PayingUnderline{
    background-color: white;
    height: 1px;
    width: 80%;
    margin: 10px auto;
}